body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    background-color: #1a1a1a;
    color:white;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

#site-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-right button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.header-right button:hover {
    background-color: #0056b3;
}

.login-section {
    text-align: center;
    margin: 20px;
}

.login-section h2 {
    color: #fff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: underline;
}

form {
    max-width: 400px;
    margin: 0 auto;
}


label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.additional-login-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.additional-login-options button {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.additional-login-options .login-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.additional-login-options button:hover {
    background-color: #f0f0f0;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    max-width: 300px;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section p {
    color: #ccc;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}
